{% extends 'layout.twig' %}

{% block navbar %}
  {% include 'components/nav-bar.twig' with {css_class: "site-header--no-pad"} %}
{% endblock %}


{# archive page layouts go here #}
{% block body %}

  {% block header %}
    {% include 'components/section-front-header.twig' with {section_front_title : "About" } %}
  {% endblock header %}

  {% block about_content %}
    <div class="about-content">
      <div class="l-content">



        <!-- Our Staff -->
        <!-- ============================ -->
        <div class="about-zone">
          <div class="l-about-inner">
            <div class="staff-img-mod">
              <ul class="staff-img-items l-grid-img">
                {% for user in users %}
                  {% if user.get_image.src %}
                    <li class="staff-img-item media-block">
                      <a class="staff-img-link" href="{{ user.link }}">
                        <img class="about-staff-img" src="{{ user.get_image.src | resize(175, 175) | default('/wp-content/themes/hechinger/static/img/mug_placeholder.jpg' | resize(175, 175) ) }}" alt="">
                      </a>
                    </li> <!-- /staff-img-item -->
                  {% endif %}
                {% endfor %}
              </ul> <!-- about-img-items -->
            </div> <!-- /about-img-mod -->

            <div class="about-content-mod">
              <div class="l-pair-about">
                <div class="art-bd">
                  <h2 class="about-h">Our Staff</h2>
                </div> <!-- /art-bd -->

                <div class="txt-bd">
                  <p class="about-text">{{ post.our_staff }}</p>
                  <div class="about-link-mod">
                    <a class="about-link" href="/staff">Our Staff</a>
                    <a class="about-link" href="/advisors">Our Advisors</a>
                  </div> <!-- /about-link-mod -->
                </div> <!-- /txt-bd -->
              </div> <!-- /l-pair-about -->
            </div> <!-- /about-content-mod -->


          </div> <!-- /about-inner -->
        </div> <!-- /about-page-zone -->



        <!-- Our Awards -->
        <!-- ============================ -->
        <div class="about-zone">
          <div class="l-about-inner">
            <div class="about-content-mod">
              <div class="l-pair-about">
                <div class="art-bd">
                  <h2 class="about-h">Our Awards</h2>
                </div> <!-- /art-bd -->

                <div class="txt-bd">
                  {% if post.our_awards %}
                    <p class="about-text">{{ post.our_awards }}</p>
                  {% endif %}
                  <div class="about-bottom-mod">
                    {% if post.awards|length %}
                      <ul class="about-award-items">
                        {% for award in post.awards %}
                          <li class="l-pair-award">
                            <div class="art-bd">
                              <h4 class="award-year">{{ award.year }}</h4>
                            </div> <!-- /art-bd -->
                            <div class="txt-bd">
                              <h4 class="award-h">
                                <a class="award-h-link" href="/awards">{{ award.name }}</a>
                              </h4> <!-- /award-h -->
                              <p class="award-text">{{ award.description }}<a class="award-read-more" href="/awards">Read More</a></p>
                            </div> <!-- /txt-bd -->
                          </li> <!-- /l-pair-award -->
                        {% endfor %}
                      </ul> <!-- /about-award-items -->
                    {% endif %}
                  </div> <!-- /about-bottom-mod -->
                  <div class="about-link-mod">
                    <a class="about-link" href="#">Our Awards</a>
                  </div> <!-- /about-link-mod -->
                </div> <!-- /txt-bd -->
              </div> <!-- /l-pair-about -->
            </div> <!-- /about-content-mod -->
          </div> <!-- /l-about-inner -->
        </div> <!-- /about-page-zone -->



        <!-- Our Namesake -->
        <!-- ============================ -->
        <div class="about-zone">
          <div class="l-about-inner">
            <div class="about-img-mod">
              <img src="{{ post.fred_photo.src | resize(800, 300) | default('/wp-content/themes/hechinger/static/img/img-about-Fred-796-291.jpg') }}" alt="{{ post.fred_photo.alt }}">
            </div> <!-- /about-img-mod -->

            <div class="about-content-mod">
              <div class="l-pair-about">
                <div class="art-bd">
                  <h2 class="about-h">Our Namesake</h2>
                </div> <!-- /art-bd -->

                <div class="txt-bd">
                  <p class="about-text">{{ post.our_namesake }}</p>
                  <div class="about-link-mod">
                    <a class="about-link" href="/about-fred-hechinger">About Fred</a>
                  </div> <!-- /about-link-mod -->
                </div> <!-- /txt-bd -->
              </div> <!-- /l-pair-about -->
            </div> <!-- /about-content-mod -->
          </div> <!-- /l-about-inner -->
        </div> <!-- /about-page-zone -->



        <!-- Our Partners -->
        <!-- ============================ -->
        <div class="about-zone">
          <div class="l-about-inner">
            <div class="about-content-mod">
              <div class="l-pair-about">
                <div class="art-bd">
                  <h2 class="about-h">Our Partners</h2>
                </div> <!-- /art-bd -->

                <div class="txt-bd">
                  <p class="about-text">{{ post.our_partners }}</p>
                   <div class="about-bottom-mod">
                    <ul class="l-about-partners">
                      {% for i in 1..8 %}
                        <li class="media-block">
                          <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-Advocate.svg" alt="">
                        </li> <!-- /media-block -->
                      {% endfor %}
                    </ul>
                  </div> <!-- /about-bottom-mod -->
                  <div class="about-link-mod">
                    <a class="about-link" href="/partners">Our Partners</a>
                  </div> <!-- /about-link-mod -->
                </div> <!-- /txt-bd -->
              </div> <!-- /l-pair-about -->
            </div> <!-- /about-content-mod -->
          </div> <!-- /l-about-inner -->
        </div> <!-- /about-page-zone -->




        <!-- Our Supporters -->
        <!-- ============================ -->
        <div class="about-zone">
          <div class="l-about-inner">
            <div class="about-content-mod">
              <div class="l-pair-about">
                <div class="art-bd">
                  <h2 class="about-h">Our Supporters</h2>
                </div> <!-- /art-bd -->

                <div class="txt-bd">
                  <p class="about-text">{{ post.our_supporters }}</p>
                  <div class="about-link-mod">
                    <a class="about-link" href="/supporters">Our Supporters</a>
                  </div> <!-- /about-link-mod -->
                </div> <!-- /txt-bd -->
              </div> <!-- /l-pair-about -->
            </div> <!-- /about-content-mod -->
          </div> <!-- /l-about-inner -->
        </div> <!-- /about-page-zone -->


      </div> <!-- /l-content -->
    </div> <!-- /about-content -->
  {% endblock about_content %}

{% endblock body %}

{% block scripts %}{% endblock %}




