{% extends "layout.twig" %}

{# Set body class if it's a feature story with image #}
{% if post.is_feature and post.thumbnail.src %}
  {% set extra_body_class = 'article-has-feat-img' %}
{% endif %}



{% block body %}

  <!-- Article Layout -->
  <!-- ============================= -->


  <!-- article hdr -->
  {% block article_hdr %}

    {% if post.is_column %}
      {% include "/templates/components/article-header-column.twig" %}
    {% elseif post.is_feature %}
      {% include "/templates/components/article-header-feat.twig" %}
    {% else %}
      {% include "/templates/components/article-header.twig" %}
    {% endif %}

  {% endblock %} {# /article_header #}

  {# Underwriting #}
  {# For the purposes of styling/layout, the underwriting message is included in the media partner block.  However, underwriting messages and and media partners can still be renedered independently -- one can appear without the other. #}
  <div class="l-article">
    <div class="l-article--inner">
      <article class="article-main">

        {% block article_partner %}
          {% if (post.partners|length or post.terms('underwriting')) %} 
              {% include "/templates/components/article-partner.twig" with { partner: partner, contextClass: 'article-aside-borders' } %} 
          {% endif %} 
        {% endblock %}

        {# ************************************ #}
        {# Static Ad Code #}
        {# The Ads are currently moved into place with ad-move.js. This is a copy and pasted version of the partner-move.js module that Chris wrote to move the Media Partners into place. There's probably a better method of achieving the correct placement. However, this might come in handy if we place more than one ad within a given article for longer articles.
        #}
        {% block article_ad %}
          {% include "/templates/components/article-advert.twig" %}
        {% endblock %}

        {# ************************************ #}


        <div class="article-body article-text js-article-text">
          {{ post.content }}

            {% block article_related %}
              {% if post.related_heading or post.post_related_aside %}
                <div class="bottom-aside-container">
                {% include "/templates/components/article-aside-related.twig" %}
                </div> <!-- /bottom-aside-container -->
              {% endif %}
            {% endblock %}


	</div> <!-- /article-body -->
      </article> <!-- /article-main -->

      <!-- article-social -->
      {% block article_social %}
        <div class="page-mod article-mod">

          <div class="article-tools-btm-right">
            {% include "/templates/components/article-social.twig" with {css_class: "social--with-name"} %}
          </div> <!-- /article-tools-btm-right -->

          <div class="article-tools-btm-left">
            <a class="article-comment-link icon-disqus comment-trigger js-comment-trigger" href="#"><i class="icon"></i>
              <span class="article-comment-number disqus-comment-count" data-disqus-url="{{ post.link }}">Add Comment</span>
            </a>
          </div> <!-- /article-tool-btm-let -->

        </div> <!-- /page-mod -->
      {% endblock %} {# /article-social #}

      <!-- article-comments -->
      {% block article_comments %}
        <div class="page-mod article-mod comment-mod js-comment-mod">
          <div class="comment-inner">
            {% include "templates/components/disqus.twig" %}
          </div> <!-- /comment-inner -->
        </div> <!-- /page-mod -->
      {% endblock article_comments %}

      <!-- article-tag -->
      {% block article_tag %}
        {% if post.story_tags|length %}
          <div class="page-mod article-mod">
            {% include "/templates/components/article-tags.twig" %}
          </div> <!-- /page-mod -->
        {% endif %}
      {% endblock %}  {# /article-tag #}

      <!-- article-bio -->
      {% block article_bio %}
        {% for author in post.coauthors %}
          {% if author.description %}
          <div class="page-mod article-mod">
            <div class="article-bio">
              <div class="{{ author.author_image ? 'l-article-bio' : '' }}">
                {% if author.author_image %}
                  <div class="art-bd">
                    <div class="img-rounded">
                      <a href="{{ author.link }}">
                        <img src="{{ TimberImage(author.author_image).src|resize(200, 200) }}" alt="Photo of {{ author.name }}">
                      </a>
                    </div> <!-- img-rounded -->
                  </div> <!-- /art-bd -->
                {% endif %}

                <div class="txt-bd">
                  <h4 class="article-bio-h"><a class="article-bio-h-link" href="{{ author.link }}">{{ author.name }}</a></h4>
                  <p class="article-bio-text">{{ author.description|truncate(25) }} <a class="article-bio-link" href="/author/{{ author.slug }}">See Archive</a></p>
                  {% if author.show_contact_info %}
                    {% if author.twitter_handle %}
                      <div class="author-contact-item icon-twitter-author">
                        <a class="author-contact-link" href="http://twitter.com/{{ author.twitter_handle }}" target="_blank">
                        <span class="icon"></span>&commat;{{ author.twitter_handle }}</a>
                      </div> <!--author-contact-item -->
                    {% endif %}
                  {% endif %}
                </div> <!-- /txt-bd -->
              </div> <!-- /l-article-bio -->
            </div> <!-- /article-bio -->
          </div> <!-- /page-mod -->
          {% endif %} {# / author.description #}
        {% endfor %}
      {% endblock %} {# /article_bio #}

    </div> <!-- /l-content-inner -->
  </div> <!-- /l-content -->

      <!-- article-recirculation -->
      <!-- ============================ -->
      {% block article_recirculation %}
        {% if recirc_posts|length %}
          <div class="l-content">
            <div class="recirculation-container">
              <h4 class="section-hdr--lg">Read Next</h4>

              {% include "/templates/components/article-recirculation.twig" %}

            </div> <!-- /recirculation-container -->
          </div> <!-- /l-content -->
        {% endif %}
      {% endblock %} {# /article_recirculation #}

{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="/wp-content/themes/hechinger/static/js/comment.js"></script>
  <script type="text/javascript" src="/wp-content/themes/hechinger/static/js/blockquote.js"></script>
  <script type="text/javascript" src="/wp-content/themes/hechinger/static/js/partner-move.js"></script>
    <script type="text/javascript" src="/wp-content/themes/hechinger/static/js/ad-move.js"></script>
  <script type="text/javascript" src="/wp-content/themes/hechinger/static/js/article.js"></script>
{% endblock %}
