{% extends "layout.twig" %}
{% block body %}

  <!-- Article Layout -->
  <!-- ============================= -->


  <!-- article hdr -->
  {% block article_hdr %}

    {% if post.is_column %}
      {% include "/templates/components/article-header-column.twig" %}
    {% else %}
      {% include "/templates/components/article-header.twig" %}
    {% endif %}

  {% endblock %} {# /article_header #}

  <div class="l-article">
    <div class="l-article--inner">
      <article class="article-main">

        {% block article_partner %}
          {% if post.partners|length %}
              {% include "/templates/components/article-partner.twig" with { partner: partner, contextClass: 'article-aside-borders' } %}
          {% endif %}
        {% endblock %}

        <div class="article-body article-text">
          {{ post.content }}

          <div class="bottom-aside-container">
{# TODO allow asides with no shortcode to render in this container #}
{#
            {% block article_aside %}
              {% if post.post_asides|length %}
                {% for aside in post.post_asides %}
                  {% if not aside.taken %}
                    {% include "/templates/components/article-aside.twig" with { aside: aside } %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endblock %}
#}
            {% block article_related %}
              {% if post.related_heading or post.post_related_aside %}
                {% include "/templates/components/article-aside-related.twig" %}
              {% endif %}
            {% endblock %}

          </div> <!-- /bottom-aside-container -->
        </div> <!-- /article-body -->



      </article> <!-- /article-main -->

      <!-- article-social -->
      {% block article_social %}
        <div class="page-mod article-mod">

          <div class="article-tools-btm-right">
            {% include "/templates/components/article-social.twig" with {css_class: "social--with-name"} %}
          </div> <!-- /article-tools-btm-right -->

          <div class="article-tools-btm-left">
            <a class="article-comment-link icon-disqus" id="comment-trigger" href="#"><i class="icon"></i>
              <span class="article-comment-number disqus-comment-count" data-disqus-identifier="{{ post.slug }}">No comments</span></a>
          </div> <!-- /article-tool-btm-let -->

        </div> <!-- /page-mod -->
      {% endblock %} {# /article-social #}

      <!-- article-comments -->
      {% block article_comments %}
        <div class="page-mod article-mod" id="comment-mod">
          <div class="comment-inner">
            {% include "templates/components/disqus.twig" %}
          </div> <!-- /comment-inner -->
        </div> <!-- /page-mod -->
      {% endblock article_comments %}

      <!-- article-tag -->
      {% block article_tag %}
        {% if post.story_tags|length %}
          <div class="page-mod article-mod">
            {% include "/templates/components/article-tags.twig" %}
          </div> <!-- /page-mod -->
        {% endif %}
      {% endblock %}  {# /article-tag #}

      <!-- article-bio -->
      {% block article_bio %}
        {% for author in post.coauthors %}
          <div class="page-mod article-mod">
            <div class="article-bio">
              <div class="{{ author.author_image.src ? l-article-bio : '' }}">
                {% if author.author_image %}
                  <div class="art-bd">
                    <div class="img-rounded">
                      <a href="{{ author.link }}">
                        <img src="{{ TimberImage(author.author_image).src|resize(200, 200) }}" alt="Photo of {{ author.name }}">
                      </a>
                    </div> <!-- img-rounded -->
                  </div> <!-- /art-bd -->
                {% endif %}

                <div class="txt-bd">
                  <h4 class="article-bio-h"><a class="article-bio-h-link" href="{{ author.link }}">{{ author.name }}</a></h4>
                  <p class="article-bio-text">{{ author.description }}<a class="article-bio-link" href="/author/{{ author.slug }}">See Archive</a></p>
                </div> <!-- /txt-bd -->
                {% if author.show_contact_info %}
                    {% if author.twitter_handle %}
                      <div class="author-contact-item icon-twitter-author">
                        <a class="author-contact-link" href="http://twitter.com/{{ author.twitter_handle }}" target="_blank">
                        <span class="icon"></span>&commat;{{ author.twitter_handle }}</a>
                      </div> <!--author-contact-item -->
                    {% endif %}
                {% endif %}
              </div> <!-- /l-article-bio -->
            </div> <!-- /article-bio -->
          </div> <!-- /page-mod -->
        {% endfor %}
      {% endblock %} {# /article_bio #}

    </div> <!-- /l-content-inner -->
  </div> <!-- /l-content -->

      <!-- article-recirculation -->
      <!-- ============================ -->
      {% block article_recirculation %}
        {% if recirc_posts|length %}
          <div class="l-content">
            <div class="recirculation-container">
              <h4 class="section-hdr--lg">Read Next</h4>

              {% include "/templates/components/article-recirculation.twig" %}

          </div> <!-- /recirculation-container -->
        {% endif %}
      {% endblock %} {# /article_recirculation #}

  </div> <!-- /l-content -->

{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="{{site.theme.uri}}/static/js/comment.js"></script>
  <script type="text/javascript" src="{{site.theme.uri}}/static/vendor/QuickShare/dist/quickshare.js"></script>
  <script type="text/javascript" src="{{site.theme.uri}}/static/js/share.js"></script>
  <script type="text/javascript" src="{{site.theme.uri}}/static/js/article.js"></script>
{% endblock %}
