{% extends 'layout.twig' %}

{% block body %}

    {% block page_hdr %}
      <div class="l-page-hdr">
        <div class="page-hdr">
          <div class="page-hdr-inner">
            <div class="author-overline">
              <h4 class="author-hdr-topic">
                {% if author.hech_role|length %}
                  <a class="author-topic-link" href="#">{{ author.hech_role }}</a>
                {% else %}
                  <a class="author-topic-link" href="#">Author</a>
                {% endif %}
              </h4> <!-- /author-hdr-topic -->
            </div> <!-- /author-overline -->
          </div> <!-- /page-hdr-inner -->
        </div> <!-- /page-hdr -->
      </div> <!-- /l-page-hdr -->
    {% endblock %}

  <div class="l-content">
   <div class="author-bio-mod">
    <article class="author-bio-container">
      <div class="l-author-bio">

      {% if author.image %}
        <div class="art-bd">
          <div class="img-rounded">
            <img class="author-photo" src="{{ author.image.get_url }}" alt="Photo of {{ author.name }}">
          </div> <!-- /img-rounded -->
        </div> <!-- /art-bio -->
      {% endif %}

        <div class="txt-bd">

            {% if atuhor.job_title|length %}
              <h3 class="author-bio-title">{{ author.job_title }}</h3>
            {% endif %}

            <h1 class="author-bio-name">{{ author.name }}</h1>

            {% if author.description|length %}
              <p class="article-bio-text">{{ author.description }}</p>
            {% endif %}

            <div class="author-bio-contact">

              {% if author.show_contact_info %}
                <ul class="author-contact-items">
                  <li class="author-contact-item icon-email">
                    <a class="author-contact-link" href="mailto:{{ author.user_email }}" target="_blank">
                      <i class="icon"></i>{{ author.user_email }}</a>
                  </li> <!--author-contact-item -->

                  {% if author.phone_number|length %}
                    <li class="author-contact-item icon-telephone">
                      <a class="author-contact-link" href="tel:{{ author.phone_number }}">
                      <i class="icon"></i>{{ author.phone_number }}</a>
                    </li> <!--author-contact-item -->
                  {% endif %}


                  {% if author.twitter_handle %}
                    <li class="author-contact-item icon-twitter-author">
                      <a class="author-contact-link" href="http://twitter.com/{{ author.twitter_handle }}" target="_blank">
                      <i class="icon"></i>&commat;{{ author.twitter_handle }}</a>
                    </li> <!--author-contact-item -->
                  {% endif %}
                </ul> <!-- /author-contact-items -->
              {% endif %}
            </div> <!-- /author-bio-contact -->
        </div> <!-- /txt-bd -->
      </div> <!-- /l-author-bio -->
    </article> <!-- /author-bio-container -->
  </div> <!-- /author-bio-mod -->

<!-- <li class="social-item icon-facebook">
    <a target="_blank" class="social-item-link qs-link" data-qs-service="facebook-share"><i class="icon"></i>Facebook</a>
  </li> -->


  {# recent articles feed goes here #}
  {% if posts|length %}
    <div class="author-article-feed-container">
      <div class="author-article-feed-heading-wrap">
        <h4 class="section-hdr--lg">Recent Stories</h4>
      </div> <!-- /author-article-feed-heading-wrap -->

      {% for post in posts %}
        {% include 'components/tease-full.twig' %}
      {% endfor %}

    </div> <!-- /author-article-feed-container -->
  {% endif %}

  </div> <!-- /l-content -->

{% endblock %} {# /body #}

{% block scripts %}{% endblock %} {# /scripts #}
