{% extends 'layout.twig' %}

{% block body %}
  <div class="l-author-container">
    <div class="author-overline">
      <h2 class="author-overline">{{ author.hech_role }}</h2>
    </div>
    <article class="author-bio-container">
      <img class="author-photo" src="{{ author.image.get_url }}" alt="photo of {{ author.name }}">
      <div class="author-bio-wrap">
        <header class="author-bio-hdr">
          {% if author.job_title|length %}
            <h3 class="author-bio-title">{{ author.job_title }}</h3>
          {% endif %}
          <h1 class="author--bio-name">{{ author.name }}</h1>
        </header>
        {% if author.description|length %}
          <div class="author-bio-text">
            <p>{{ author.description }}</p>
          </div>
        {% endif %}
        <div class="author-bio-contact">
      </div>
    </article>
  </div>

  {% if posts|length %}
    {# recent articles feed goes here #}
    <div class="author-article-feed-container">
      <div class="author-article-feed-heading-wrap">
        <h2>Recent Stories</h2>
      </div>
        {% for post in posts %}
          {% include 'components/tease-author-page.twig' with { post: post } %}
        {% endfor %}
      {# endfor #}
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}{% endblock %}
