{% extends 'layout.twig' %}

{% block navbar %}
  {% include 'components/nav-bar.twig' with {background_image: true, banner: post.thumbnail } %}
{% endblock %}


{# archive page layouts go here #}
{% block body %}

  {% block header %}
    {% include 'components/section-front-header.twig' with { section_front_title : "Special Reports", post: post, subhead: post.subhead, link_to_page: post.link_to_page, link_heading: post.link_heading } %}
  {% endblock header %}

  {% block page_content %}
    <div class="sr-landing-content">
      <div class="l-content">

      <!-- Special Report Landing Top -->
      <!-- ===================================== -->
      {% block report_landing_top %}
        <div class="sr-landing-zone">
          <div class="l-content">
            <div>
              <div class="l-sr-landing-dos">

                {% for report in special_reports %}
                  {% if report.slug in ['higher-education', 'high-school-reform', 'early-education', 'new-orleans', ‘future-of-learning’, 'mississippi-learning', 'immigration', 'race-and-equity'] %}
                    <div class="grid-item tz-sr-landing-grid">
                      <article class="tz-sr-landing">
                        <a href="{{report.link}}">
                          <div class="sr-landing-grid-img">
                            <img src="{{ report.get_image('bw_rect').src | resize (445, 246) | default(site.theme.path ~ "/static/img/defaults/default_bw_rectangle.jpg") | resize (445, 246)  }}" alt="{{ report.get_image('bw_rect').alt }}">
                          </div> <!-- /sr-landing-img-mod -->
                        </a>

                        <div class="sr-landing-grid-content">
                          <h2 class="sr-landing-h">
                            <a class="sr-landing-h-link" href="{{report.link}}">{{ report.title }}</a>
                          </h2> <!-- /sr-landing-grid-h -->
                          {% if report.description %}
                            <p class="sr-landing-desc">{{ report.description }} <a class="sr-landing-link" href="{{ report.link }}">Read Stories</a></p>
                          {% endif %}
                        </div> <!-- /sr-landing-grid-content -->
                      </article> <!-- /tz-sr-landing -->
                    </div> <!-- /grid-item -->
                  {% endif %}
                {% endfor %}

              </div> <!-- /l-sr-landing-dos-->
            </div>
          </div> <!-- /l-content -->
        </div> <!-- /sr-report-zone -->
      {% endblock report_landing_top %}


      <!-- Special Report Landing Feed -->
      <!-- ===================================== -->
      {% block report_landing_feed %}
        {% if special_reports|length > 4 %}
          <div class="sr-landing-zone">
            <div class="l-content">
            <h4 class="section-hdr--lg">More Reports</h4>
              <div class="l-sr-landing-feed">

                {% for sreport in special_reports %}
                  {% if sreport.slug not in ['higher-education', 'high-school-reform', 'early-education', 'new-orleans', ‘future-of-learning’, 'mississippi-learning', 'immigration', 'race-and-equity'] %}
                    <article class="tz-sr-feed-grid l-pair-sr-feed">
                      <a class="art-bd" href="{{sreport.link}}">
                          <img src="{{ sreport.get_image('bw_rect').src | resize(221, 123) | default(site.theme.path ~ "/static/img/defaults/default_bw_rectangle.jpg") }}" alt="">
                        </a><!-- /art-bd -->

                      <div class="txt-bd">
                        <h2 class="sr-landing-h">
                          <a class="sr-landing-h-link" href="{{ sreport.link }}">{{ sreport.title }}</a>
                        </h2> <!-- /sr-landing-grid-h -->
                        <p class="sr-landing-desc">{{ sreport.description }} <a class="sr-landing-link" href="{{ sreport.link }}">Read Stories</a></p>
                      </div> <!-- /txt-bd -->
                    </article> <!-- /tz-sr-feed-grid -->
                  {% endif %}
                {% endfor %}

              </div> <!-- /l-sr-landing-feed -->
            </div> <!-- /l-content -->
          </div> <!-- /sr-report-zone -->
          {% if pagination.pages|length %}
            {% include "/templates/components/pagination.twig" %}
          {% endif %}
        {% endif %}
      {% endblock report_landing_feed %}



      </div> <!-- /l-content -->
    </div> <!-- /sr-landing-content -->
  {% endblock page_content %}

{% endblock body %}

{% block scripts %}{% endblock %}
