{% extends 'layout.twig' %}
{% block navbar %}
  {% include 'components/nav-bar.twig' with {css_class: "site-header--no-pad"} %}
{% endblock %}

{# archive page layouts go here #}
{% block body %}

  {% block header %}
    {% include 'components/section-front-header.twig' with { banner: post.thumbnail, section_front_title : "Staff", post: post, subhead: post.subhead, link_heading: post.link_heading, link_to_page: post.link_to_page } %}
  {% endblock header %}

  {% block staff_content %}
    <div class="staff-content">
      <div class="l-content">
        <ul class="staff-items">
          {% for user in users %}
            <li class="staff-item">
              <div class="l-pair-staff-page">
                {% if user.get_image %}
                  <div class="art-bd">
                    <div class="img-rounded">
                      <a href="{{ user.link }}">
                        <img src="{{ user.get_image.src | resize(200, 200) }}" alt="Photo of {{ user.name }}">
                      </a>
                    </div> <!-- img-rounded -->
                  </div> <!-- /art-bd -->
                {% endif %}

                <div class="txt-bd">
                  {% if user.job_title %}
                    <h4 class="staff-title-h">{{ user.job_title }}</h4>
                  {% endif %}
                  <h3 class="staff-name-h">
                    <a class="staff-name-h-link" href="{{ user.link }}">{{ user.name }}</a>
                  </h3> <!-- staff-name-h -->
                  {% if user.description %}
                    <p class="staff-bio-text">{{ user.description }}</p>
                  {% endif %}
                  <a class="staff-bio-link" href="{{ user.link }}">More</a>
                </div> <!-- /txt-bd -->
              </div> <!-- /l-pair-staff-page -->
            </li> <!-- / staff-item -->
          {% endfor %}
        </ul> <!-- /staff-items -->
      </div> <!-- /l-content -->
    </div> <!-- /staff-content -->
  {% endblock staff_content %}

{% endblock body %}
