<figure class="media-mod img-container {{ class ? class : '' }}">
  <img srcset="{{ image.srcset(image.width) }}" sizes="(min-width: 550px) 40vw, 100vw" src="{{ image.src | max_width(800) }}" alt="{{ image.alt|e }}">
  <figcaption class="img-caption">
    <p class="img-caption-text">
      {{ image.caption }}
      {% if image.credit %}
        <span class="img-byline">{{ image.credit }}</span>
      {% endif %}
    </p>
  </figcaption> <!-- article-img-caption -->
</figure> <!-- /media-mod -->
