<div class="l-page-hdr">
  <header class="article-hdr">
    <div class="article-hdr-inner">
      <div class="article-hdr-top">
        <h4 class="article-hdr-topic">
          <a class="article-topic-link" href="{{ post.overline.link }}">{{ post.overline }}</a>
        </h4>

        <div class="article-social-container">
            {% include "/templates/components/article-social.twig" %}
        </div> <!-- /article-social-container-->
      </div> <!-- /article-hdr-top -->

      <div class="article-hdr-h">
        <h1 class="article-h">{{ post.title|striptags }}</h1>
        {% if post.subhead %}
          <h2 class="article-sub-h">{{ post.subhead }}</h2>
        {% endif %}
      </div> <!-- /article-hdr-middle -->

      <div class="article-hdr-meta-container {% block column_context_class %}{% endblock %}">
      {% block article_column_img %} {% endblock %}

      <div class="article-hdr-meta">
        {% block article_column_title %} {% endblock %}
          <div class="article-hdr-meta-inner">
             {% block article_byline %}
               {% if post.coauthors|length %}
                 <p class="article-byline">by
                   {% for author in post.coauthors %}
                     <a class="article-author" href="/author/{{ author.slug }}">{{ author.name }}</a>
                     {% if not loop.last %}
                       &nbsp;and&nbsp;
                     {% endif %}
                   {% endfor %}
                 </p>
               {% endif %}
             {% endblock %}
            <p class="article-date">{{ post.date }}</p>
          </div> <!-- /article-hdr-meta-inner -->
        </div> <!-- /article-hdr-meta-->

      </div> <!-- /article-hdr-container -->

    </div> <!-- /article-hdr-inner -->
  </header> <!-- /article-hdr -->
</div> <!-- /l-page-hdr-->
