<!-- article hdr feature -->
<div class="l-page-hdr">
  <div class="article-hdr article-hdr-feat">
    <div class="article-hdr-inner">
      {% if post.thumbnail.src %}
        <div class="article-img-feature">
          <img srcset="{{ post.thumbnail.srcset(960, 600) }}" sizes="80vw" src="{{ post.thumbnail.src | resize(960, 600) }}" alt="{{ post.thumbnail.alt }}">
        </div> <!-- /article-img-feature -->
      {% endif %}

      <div class="article-feat-mod {{ post.thumbnail.src ? "article-feat-mod--has-img" }}">
        <div class="article-hdr-top">
          <h4 class="article-hdr-topic">
            <a class="article-topic-link" href="{{ post.overline.link }}">{{ post.overline }}</a>
          </h4>

          <div class="article-social-container">
              {% include "/templates/components/article-social.twig" %}
          </div> <!-- /article-social-container-->
        </div> <!-- /article-hdr-top -->

        <div class="article-hdr-h">
          <h1 class="article-feat-h">{{ post.title|striptags }}</h1>
          {% if post.subhead|length %}
            <h2 class="article-sub-h">{{ post.subhead }}</h1>
          {% endif %}
        </div> <!-- /article-hdr-h -->

        <div class="article-hdr-meta">
          <div class="article-hdr-meta-inner">
            <p class="article-byline">by
              {% for author in post.coauthors %}
                <a class="article-author" href="{{ author.link }}">{{ author.name }}</a>
                {% if not loop.last %}
                  &nbsp;and&nbsp;
                {% endif %}
              {% endfor %}
            </p>

            <p class="article-date">{{ post.date }}</p>
          </div> <!-- /article-hdr-meta-inner -->
      </div> <!-- /article-hdr-meta -->

      </div> <!-- /articleFeat-mod -->
    </div> <!-- /article-hdr-inner -->
  </div> <!-- /article-hdr -->
</div> <!-- /l-page-hdr -->
