<div class="pagination prev-next-nav">

  <ul class="pagination-list">
    <li class="pagination-list-item-prev-next {{ pagination.prev.link ?  '' : 'pagination-disabled'}}">

    {# TODO: refactor to handle this logic in the controller or another more elegant way #}
      {% if pagination.prev.link %}
        <a class="pagination-list-item-link" href="{{ pagination.prev.link }}">
          <div class="arrow-left">
            <div class="arrow-left before {{ pagination.prev.link ?  '' : 'pagination-disabled'}}" ></div>
            <div class="arrow-left after" ></div>
          </div>
          Prev
        </a>
      {% else %}
        <span class="pagination-list-item-link" href="{{ pagination.prev.link }}">
          <div class="arrow-left">
            <div class="arrow-left before {{ pagination.prev.link ?  '' : 'pagination-disabled'}}" ></div>
            <div class="arrow-left after" ></div>
          </div>
          Prev
        </span>
      {% endif %}
    </li> <!-- .pagination-list-item new-old -->

    {# TODO: refactor to handle this logic in the controller #}
    {% if pagination.pages|length %}
      {% for page in pagination.pages %}
        {% if page.current %}
          <li class="pagination-list-item-current">{{ page.title }}</li>
          <li class="pagination-list-item-of">of</li>
        {% endif %}
        {% if loop.last %}
          <li class="pagination-list-item-total">{{ page.title }}</li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <li class="pagination-list-item-prev-next {{ pagination.next.link ? '' : 'pagination-disabled'}}">
      {% if pagination.next.link %}
        <a class="pagination-list-item-link" href="{{ pagination.next.link }}">
          Next
          <div class="arrow-right">
            <div class="arrow-right after {{ pagination.next.link ? '' : 'pagination-disabled'}}" ></div>
            <div class="arrow-right before" ></div>
          </div>
        </a>
      {% else %}
        <span class="pagination-list-item-link" href="{{ pagination.next.link }}">
          Next
          <div class="arrow-right">
            <div class="arrow-right after {{ pagination.next.link ? '' : 'pagination-disabled'}}" ></div>
            <div class="arrow-right before" ></div>
          </div>
        </span>
      {% endif %}
    </li>
  </ul> <!-- .pagination-list -->

</div> <!-- /pagination prev-next-nav-->
