<div class="pagination-mod">

  {% if pagination.prev.link %}
    <a class="pagination-link arrow-left {{ pagination.prev.link ?  '' : 'pagination-disabled'}}" href="{{ pagination.prev.link }}">
      Prev
    </a>
  {% else %}
    <span class="pagination-link arrow-left {{ pagination.prev.link ?  '' : 'pagination-disabled'}}">
      Prev
    </span><!-- /pagination prev-->
  {% endif %}

  {# TODO: refactor to handle this logic in the controller #}
  {% if pagination.pages|length %}
    {% for page in pagination.pages %}
      {% if page.current %}
        <div class="pagination-page-current">{{ page.title }}</div>
        <span class="pagination-page-of">of</span>
      {% endif %}
      {% if loop.last %}
        <div class="pagination-page-total">{{ page.title }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if pagination.next.link %}
    <a class="pagination-link arrow-right {{ pagination.next.link ?  '' : 'pagination-disabled'}}" href="{{ pagination.next.link }}">
      Next
    </a>
  {% else %}
    <span class="pagination-link arrow-right {{ pagination.next.link ?  '' : 'pagination-disabled'}}">
      Next
    </span> <!-- /pagination next-->
  {% endif %}

</div> <!-- /pagination prev-next-nav-->
