<div class="promo-mod promo-content-bdr--reverse" style="background-image: url({{ promo.get_image('bw_rect').src|resize(600) | default("/wp-content/themes/hechinger/static/img/defaults/default_bw_pano.jpg")|resize(600) }})" data-resp="{{ promo.get_image('bw_rect').src | default("/wp-content/themes/hechinger/static/img/defaults/default_bw_pano.jpg") }}" data-resp-width="600">
  <div class="promo-overlay">
    <a class="promo-link" href="{{ promo.link }}">

      <div class="promo-inner">
        <div class="promo-hdr">
          <h4 class="promo-h promo-h--reverse">{{ promo.name }}</h4>
        </div> <!-- /promo-hdr-white -->

        <div class="promo-main">
          <div class="promo-text--reverse">
            {{ promo.promo_text }}
          </div>
        </div> <!-- /promo-main -->

      </div> <!-- /promo-inner -->
    </a> <!-- /promo-link -->
  </div> <!-- /promo-overlay -->
</div> <!-- /promo-mod -->
