<div class="tz-feat-mod">
  <div class="tz-content-wrap">

    {% if post.thumbnail %}
      <div class="art-bd art-bd-feat">
        <figure class="tz-full-img-wrap">
          <a href="{{ post.link }}"><img class="tz-full-img" srcset="{{ post.thumbnail.srcset(960, 446) }}" sizes="80vw" src="{{ post.thumbnail.src | resize(960, 446) }}" alt="{{ post.thumbnail.alt }}" /></a>
        </figure>
      </div>
    {% endif %}

    <div class="txt-bd txt-bd-feat">
      <h1 class="tz-full-h"><a class="tz-full-h-link" href="{{ post.link }}">{{ post.title }}</a></h1>
      {% if post.tease_excerpt %}
        <p class="tz-full-text"><a class="tz-full-text-link" href="{{ post.link }}">{{ post.tease_excerpt }}</a></p>
      {% endif %}
      <div class="tz-full--byline-wrap">
        <h2 class="tz-full--byline-topic"><a class="tz--byline-topic-link" href="{{ post.overline.link }}">{{ post.overline }}</a></h2>
        <h3 class="tz-full--byline-name">by
          {% for author in post.coauthors %}
            <a class="tz--byline-author-link" href="{{ author.link }}">{{ author.name }}</a>
            {% if not loop.last %}
              &nbsp;and&nbsp;
            {% endif %}
          {% endfor %}
          <span class="tz-full--byline-date">&nbsp;&ndash;&nbsp;{{ post.date }}</span>
        </h3>
      </div>
    </div>

  </div> <!-- /tz-content-wrap -->
</div> <!-- /tz-full-mod -->
