<div class="tz-full-mod">
  <div class="tz-content-wrap">
    {% if post.thumbnail %}
      <figure class="tz-full-img-wrap">
        <a href="/{{ post.slug }}"><img class="tz-full-img" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.title }}" /></a>
      </figure>
    {% endif %}
    <h1 class="tz-full-title"><a class="tz-full-text-link" href="/{{ post.slug }}">{{ post.title }}</a></h1>
    {% if post.tease_excerpt %}
      <p class="tz-full-text"><a class="tz-full-text-link" href="/{{ post.slug }}">{{ post.tease_excerpt }}</a></p>
    {% endif %}
    <div class="tz-full--byline-wrap">
      <h2 class="tz-full--byline-topic"><a class="tz--byline-topic-link" href="/{{ post.overline.slug }}">{{ post.overline }}</a></h2>
      <h3 class="tz-full--byline-name">by <a class="tz--byline-author-link" href="/author/{{ post.author.slug }}">{{ post.author.name }} </a><span class="tz-full--byline-date"> {{ post.date }}</span></h3>
    </div>
  </div>
</div>
